[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
heritage-connector-pkg = {file = "file:///Users/jamieunwin/projects/heritage-connector"}

[requires]
python_version = "3.7"
