[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pre-commit = "*"
jupyterlab = "*"
matplotlib = "*"
black = "*"
pytest = "*"
scikit-learn = "*"
pylint = "*"
sphinx = "*"
recommonmark = "*"
coverage = "*"
pytest-cov = "*"

[packages]
pre-commit = "*"
flake8 = "*"
spacy = "*"
lxml = "*"
pandas = "*"
sparqlwrapper = "*"
fuzzywuzzy = "*"
python-levenshtein = "*"
elasticsearch = "*"
rdflib = "*"
rdflib-jsonld = "*"
pylint = "*"
fastapi = "*"
uvicorn = "*"
jinja2 = "*"
aiofiles = "*"
python-multipart = "*"
torch = "*"
dgl = "==0.4.3"
dglke = "*"
click = "*"
coverage = "*"
elastic-wikidata = ">=0.3.6"
tenacity = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
