[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pre-commit = "*"
jupyterlab = "*"
matplotlib = "*"
black = "*"
pytest = "*"
pylint = "*"
sphinx = "*"
recommonmark = "*"
coverage = "*"
pytest-cov = "*"
flake8 = "*"

[packages]
scikit-learn = "*"
lxml = "*"
pandas = "*"
sparqlwrapper = "*"
fuzzywuzzy = "*"
python-levenshtein = "*"
elasticsearch = "*"
rdflib = "*"
rdflib-jsonld = "*"
fastapi = "*"
uvicorn = "*"
jinja2 = "*"
aiofiles = "*"
python-multipart = "*"
click = "*"
elastic-wikidata = ">=0.3.6"
tenacity = "*"
s3fs = "*"

[requires]
python_version = "3"

[pipenv]
allow_prereleases = true
