scikit-learn
lxml
pandas
sparqlwrapper
fuzzywuzzy
python-levenshtein
elasticsearch
rdflib
rdflib-jsonld
fastapi
uvicorn
jinja2
aiofiles
python-multipart
click
elastic-wikidata>=0.3.6
tenacity
s3fs
hc-nlp>=0.3.4
sentence-transformers>=0.3.0
textdistance>=4.2.1