scikit-learn
lxml
pandas>=1.2.0
sparqlwrapper
fuzzywuzzy
python-levenshtein
elasticsearch
rdflib
rdflib-jsonld
fastapi
uvicorn
jinja2
aiofiles
python-multipart
click
elastic-wikidata>=0.3.6
tenacity
s3fs
hc-nlp>=0.3.7
sentence-transformers>=0.3.0
textdistance>=4.2.1
openpyxl