appdirs==1.4.4
astroid==2.4.1
cfgv==3.1.0
click==7.1.2
distlib==0.3.0
filelock==3.0.12
Flask==1.1.2
heritage-connector-pkg @ file:///Users/jamieunwin/projects/heritage-connector
identify==1.4.19
importlib-metadata==1.6.0
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.11.2
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
mccabe==0.6.1
nodeenv==1.4.0
pre-commit==2.4.0
PyYAML==5.3.1
six==1.15.0
toml==0.10.1
typed-ast==1.4.1
virtualenv==20.0.21
Werkzeug==1.0.1
wrapt==1.12.1
zipp==3.1.0
