<!doctype html>
<html>
<head>
    <title>Heritage Connector</title>
    <style>
        body {
            font-family: helvetica;
        }
        input[type=text] {
          height: 50px;
          width: 200px;
          font-size: 38px;
          background-color: #EEE;
          border: none;
          border-bottom: 2px solid;
        }
    </style>
</head>
<body>

    <h1>Heritage Connector</p>

    <form action="{{ url_for('scan') }}">
        <input name="id" type="text" placeholder="co8538105">
    </form>

<body>
<html>